.bg {
    background-color: #222222;
}
.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 500;
    padding: 20px 30px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #ec008c;
}
